.feed {
	background-color: #181818;
	flex: 0.5;
}

.createQuestion {
	margin-top: 20px;
	background-color: #262626;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	cursor: pointer;
	border-radius: 4px;
	border: 1px solid transparent;
}

.createQuestion:hover {
	border: 1px solid #808080;
	background-color: #2b2b2b;
}

.feedAvatar {
	width: 20px !important;
	height: 20px !important;
	margin: 10px;
}

.userName {
	font-size: 12px;
	color: grey;
}

.userName1 {
	font-size: large;
	font-weight: bold;
	color: grey;
	padding: 10px;
}
